DB_HOST="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="ace_mern"
DB_DIALECT="mysql"
PORT="5000"

# ADMIN JWT 
JWT_ACCESS_SECRET="mysecretkey@1234"
JWT_REFRESH_SECRET="mysecretkey@1234"
ACCESS_EXPIRES=1d
REFRESH_EXPIRES=7d

# STUDENT JWT 
STUDENT_JWT_ACCESS_SECRET="student_access_secret@1234"
STUDENT_JWT_REFRESH_SECRET="student_refresh_secret@1234"
STUDENT_ACCESS_EXPIRES=1d
STUDENT_REFRESH_EXPIRES=7d

# Security
CRYPTO_SECRET_KEY="MyUltraStrongSecretKey123456789012"

# Mail 
EMAIL_USER="sahl.nexbex@gmail.com"
EMAIL_PASS="wqrboagjafmacpla"

SERVER_URL="http://localhost:5000"
FRONTEND_URL="http://localhost:3000"